@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
    border: 0;
}

/*body*/

body {
    position: relative;
    padding-bottom: 0rem;
    background-color: aliceblue;
    padding-top: 5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    }

    .container {
        margin: 0 auto;
        background-color: aliceblue;
        min-height: calc(100vh - 100px - 50px);

    } 

    .contactUS {
        position: relative;
        width: 100%;
        padding: 40px 100px;
    }

    .contactUS .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .contactUS .title h2 {
        font-weight: 500;
        color: black;
        font-size: 2rem;
    }

    .form {
        grid-area: form;
    }

    .info {
        grid-area: info;
    }

    .map {
        grid-area: map;
    }

    .contact {
    padding: 40px;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(111,35,133,1) 100%);
    }

    .box {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 5fr 4fr;
        grid-template-areas: "form info" "form map";
        grid-gap: 20px;
        margin-top: 20px;
    }

    .contact h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
    }

    .formBox {
        position: relative;
        width: 100%;
    }

    .formBox .row50 {
       display: flex;
       gap:20px
    }

    .formBox .row100 .inputBox {
        width: 100%;
    }
        
    .inputBox {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 50%;
    }

    .inputBox span {
        font-size: 1rem;
        font-weight: 800;
        color: rgb(255, 255, 255);
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .inputBox input,
    .inputBox textarea {
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 1.1em;
        outline: none;
    }

    .formBox input {
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 1.1rem;
        outline: none;
        transition: all 0.3s;
    }

    .inputBox input:hover {
        transform: scale(1.05);
    }

    .formBox input:focus {
        border: 1px solid rgb(255, 255, 255);
    }

    .formBox .row50 input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
    }

    .formBox textarea {
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        outline: none;
        font-size: 1.1rem;
        resize: none;
        min-height: 220px;
        margin-bottom: 10px;
    }

    .formBox textarea:focus {
        border: 1px solid rgb(255, 255, 255);
    }

    .formBox .inputBox input[type="submit"] {
        background: rgb(0,212,255);
        color: #fff;
        border: none;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        max-width: max-content;
        padding: 14px 15px;
    }

    .formBox .inputBox input[type="submit"]:hover {
        background-color: aliceblue;
        color: rgb(0,212,255);
        transform: scale(1.05);
    }

    .inputBox ::placeholder {
        color: rgb(61, 61, 61);
    }

    .info .infoBox {
        display: flex;
        flex-direction: column;
    }

    .infoBox .calle a {
        text-decoration: none;
        cursor:default ;
        color: rgb(255, 255, 255);
        font-weight: 500;
    }
        


  





    


    







