@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

/*Nav menu*/

header {
    display: flex;
    position: fixed;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    height: 12vw;
    max-height: 95px;
    min-height: 55px;
    width: 100%;
    padding: 5px 10%;
    border-bottom: 1px groove rgb(174, 223, 255);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.nav-menu {
    display: flex;
   justify-content: space-between;
   align-items: center;

   max-width: 992px;
   margin: 0 auto;

}

.header .nav-menu .logo  {
    align-items: center;
    justify-content:left;
    cursor: pointer;
    height: auto;
    width: 8vw;
    max-width: 90px;
    min-width: 50px;
    padding: 1%;
    margin-right: 150px;
}

.header .logo img {
    
    transition: all 0.3s;
    width: 100%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav-links li {
    padding: 0 8px;
    transition: all 0.3s;
    width: max-content;
    text-transform: uppercase;
}  

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-style: normal;
    color: rgb(0, 67, 129);
    border-bottom: 0px solid;
    font-size: 0.8rem;
}

.header .nav-links a:hover {

    color: rgb(0, 140, 255);
    border-bottom: 1px solid rgb(0, 140, 255);
    padding-bottom: 8%;
    border-radius: 3px;
}

.header .nav-menu .nav-links .nav-menu-link_active {
    color: rgb(0, 183, 255);
}

.header .btn button {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid rgb(202, 202, 202);
    background-color: rgb(0, 180, 252);
    color: aliceblue;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.header .btn button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 195, 255);
    border: 1.5px solid rgb(0, 195, 255);
    font-weight: 700;
}

.nav-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 140, 255);
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    display: none;

}

.nav-toggle:hover {
    color: rgb(226, 242, 255);
    border: none;
    transform: scale(1.1);
}



/*Nav Menu mobile*/

.header a {
    text-decoration: none;
}




/*body*/

body {
    position: relative;
    padding-bottom: 4.5rem;
    background-color: rgb(255, 255, 255);
    padding-top: 5.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
   
}


footer {
    background-color: rgb(0, 140, 255);
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



img {
    width: 20%;
}

@media screen and (max-width: 576px) {
    .body {
        position: relative;
        padding-bottom: 4.5rem;
        background-color: rgb(255, 255, 255);
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
 }
    .header {
        height: 12vw;
}

    .header .nav-links {
        flex-direction:column;
        align-items: center;
        transition: all 0.3s;
        background-color: rgb(0, 59, 107);
        position: fixed;
        left: 0;
        top: 10%;
        width: 100%;
        padding: 1rem 0;
        line-height: 2.5rem;

        height: calc(100%-3rem);
        overflow-y: auto;

    }  

    .header .nav-links li:hover {
        transform: scale(1.1);
    }

    .header .nav-links a {
        font-style: normal;
        color: rgb(255, 255, 255);
        border-bottom: 0px solid;
    }

    .header .nav-menu .nav-links .nav-menu-link_active {
        color: rgb(0, 183, 255);
    }

    .header .nav-links a:hover {

        color: rgb(0, 140, 255);
        border-bottom: 1px solid rgb(0, 140, 255);
        padding-bottom: 8%;
        border-radius: 3px;
    }

    .nav-toggle {
        color: rgb(255, 255, 255);
        background-color: rgb(39, 140, 255);
        border: none;
        transition: all 0.3s;
        cursor: pointer;
        border-radius: 50px;
        padding: 1px;
        display: block;
        font-size: 25px;
    
    }
    
    .nav-toggle:hover {
        color: rgb(226, 242, 255);
        border: none;
        transform: scale(1.1);
    }
    

}

    @media screen and ( min-width:576px ) and (max-width: 992px) {
        .body {
            position: relative;
            padding-bottom: 4.5rem;
            background-color: rgb(255, 255, 255);
            padding-top: 1rem;
            padding-left: 0rem;
            padding-right: 0rem;
    }
        .header {
            height: 12vw;
    }

        .header .nav-menu .logo  {
            align-items: center;
            justify-content:left;
            cursor: pointer;
            height: auto;
            width: 100%;
            max-width: 100px;
            min-width: 80px;
            padding: 1%;
            margin-right: 15px;
    }

}

@media screen and ( min-width:992px ) and (max-width: 1600px) {
    .body {
        position: relative;
        padding-bottom: 4.5rem;
        background-color: rgb(255, 255, 255);
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
}
    .header {
        height: 12vw;
}

    .header .nav-menu .logo  {
        align-items: center;
        justify-content:left;
        position: relative;
        cursor: pointer;
        height: auto;
        width: 100%;
        max-width: 100px;
        min-width: 90px;
        padding: 1%;
        margin-right: 100px;
    }

}